.productCard {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}

.cardFooter {
  display: flex;
  justify-content: space-around;
  background-color: pink;
}

.favButton:hover {
  cursor: pointer;
}
